body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
}

h1, h2 {
	font-family: "Open Sans Condensed", sans-serif;	
}
h1 {
	background-color: #851944;
	color: #FFF;
	text-align: center;
}

p {
	text-align: justify;
    margin: 20px 0;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

main div {
    padding: 30px 0;
}


strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h2 {
    font-size: 30px;
}
blockquote {
    margin: 20px 40px;
}

main h1 {
    font-size: 60px;
}
